.App {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    /* justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center; */
    text-align: center;
}